<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8"/>
    <title>WC-1</title>
    <meta name="description" content=""/>
    <style>
        html, body {
            font-family: 'Cairo', sans-serif;
            font-weight: 400
        }
    </style>
</head>
<body>
<div
        style="width: 900px; margin: 0 auto; text-align: right; direction: rtl; display: table; box-shadow: 0px 0px 10px 0px #cecbcb;">
    <div
            style="width: 100%; float: left; background-image: url(https://static.mintplatform.net/img/splash-img.svg); padding: 0.3cm 0; background-size: 100% auto; background-color: #54a76a;">
        <div style="display: inline-block; float: left; padding: 0 25px;">
				<span
                        style="color: #fff; font-size: 30px; font-weight: 700; margin-top: 10px; display: inline-block; line-height: 100%;">mint</span>
            <img src="https://static.mintplatform.net/img/appicon.png"
                 style="float: right"/>
            <!-- <h2 style="font-size:25px;color:#fff;direction:ltr;font-weight:700;float:right;margin-top:0.1cm;display:inline-block">Hi <span>User Full name</span> </h2> -->
        </div>
        <div style="float: left; width: 100%"></div>
    </div>
    <div style="float: left; width: 100%; text-align: center">
        <h3
                style="text-align: center; color: #51a868; font-size: 25px; font-weight: 700">
            أهلا بك في تطبيق
            <span
                    style="display: inline-block; font-size: 25px; padding: 0px 3px;">mint</span>
        </h3>
        <p style="padding: 10px">
            الرجاء استخدام رمز التحقق في تطبيق
            <span
                    style="display: inline-block; font-size: 25px; padding: 0px 3px; color: #51a868; font-weight: 700">mint</span>
            اندروبد
            <span
                    style="display: inline-block; margin: 0 3px; font-size: 25px; color: #fcb316; padding: 0; line-height: 100%; font-weight: 700;"
                    th:text="${user.activationKey}">966678</span>
        </p>
        <p style="padding: 10px">
            أو فى حالة إستخدامك
            <span
                    style="display: inline-block; font-size: 25px; padding: 0px 3px; color: #51a868; font-weight: 700">mint</span>
            عن طريق الويب بإمكانك التفعيل بالضغط على الرابط التالى
        </p>
        <div style="float: left; width: 100%; text-align: center">
            <a
                    th:href="@{'https://'+${weburl}+'/Account/ActivateUser'(activationCode=${user.activationKey})}"
                    style="color: #fff; background-color: #51a868; border: 1px solid #ccc; display: inline-block; outline: 0; padding: 8px 0px; vertical-align: middle; text-decoration: none; text-align: center; cursor: pointer; white-space: nowrap; text-align: center; width: 20%; min-width: 5cm; font-size: 18px; margin-bottom: 0.5cm;">رابط
                التفعيل</a>
        </div>
    </div>
</div>
</body>
</html>