﻿<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8"/>
    <title>WC-1</title>
    <meta name="description" content=""/>
    <link href="https://fonts.googleapis.com/css?family=Cairo:400,700" rel="stylesheet"/>
    <style>
        html, body {
            font-family: 'Cairo', sans-serif;
            font-weight: 400
        }
    </style>

</head>
<body>

<div style="width:900px;margin: 0 auto;text-align:left;direction:ltr;display: table;box-shadow: 0px 0px 10px 0px #cecbcb;">

    <div style="width:100%;float:left;background-image:url(http://static.mintplatform.net/img/splash-img.svg);padding:0.3cm 0; background-size:100% auto;   background-color: #54a76a;">
        <div style="display:inline-block;float:left;padding:0 25px;">
            <span style="color: #fff;font-size: 30px;font-weight: 700;margin-top: 10px;display: inline-block;line-height: 100%;">mint</span>
            <img src="http://static.mintplatform.net/img/appicon.png" style="float:right"/>
            <!-- <h2 style="font-size:25px;color:#fff;direction:ltr;font-weight:700;float:right;margin-top:0.1cm;display:inline-block">Hi <span>User Full name</span> </h2> -->

        </div>
        <div style="float:left;width:100%">


        </div>


    </div>
    <div style="float:left;width:100%;text-align:center">
        <h3 style="text-align: center;color: #51a868;font-size: 25px;font-weight:700">
            welcome in
            <span style="display: inline-block;font-size: 25px;padding: 0px 3px;color: #51a868;">mint</span>
            application
        </h3>
        <p style="padding:10px">
            Congratulation! Your mint account has been created, Please login using the following information.
        </p>
        <p style="padding:10px">
                <span style="display:block;width:100%;float:left">
                    <label style="display:inline-block;margin-right:15px;font-weight:700;font-size:20px">
                        Username:
                    </label>
                    <label style="display: inline-block;margin-right: 15px;font-weight: 500;font-size: 17px;"
                           th:text="${user.login}">
                        User full name answer
                    </label>
                </span>
            <span style="display:block;width:100%;float:left">
                       <label style="display:inline-block;margin-right:15px;font-weight:700;font-size:20px">
                           Password:
                       </label>
                       <label style="display: inline-block;margin-right: 15px;font-weight: 500;font-size: 17px"
                              th:text="${password}">

                           Password answer
                       </label>
                   </span>


        </p>
        <p style="padding:10px">
            Thank you,

            <span style="display: inline-block;font-size: 25px;padding: 0px 3px;color: #51a868;font-weight:700">mint</span>
            Team
        </p>

    </div>
</div>

</body>
</html>