﻿<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8"/>
    <title>WC-1</title>
    <meta name="description" content=""/>
    <link href="https://fonts.googleapis.com/css?family=Cairo:400,700"
          rel="stylesheet"/>
    <style>
        html, body {
            font-family: 'Cairo', sans-serif;
            font-weight: 400
        }

        .profile_img {
            width: 175px;
            border: 2px solid #51a868;
            border-radius: 5px;
            display: inline-block;
            padding: 0;
            margin: 0;
            max-height: 175px;
        }

        img {
            max-width: 100%;
            max-height: 100%;
            border-radius: 5px;
        }
    </style>
</head>
<body>
<div
        style="width: 900px; margin: 0 auto; text-align: right; direction: rtl; display: table; box-shadow: 0px 0px 10px 0px #cecbcb;">
    <div
            style="width: 100%; float: left; background-image: url(https://static.mintplatform.net/img/splash-img.svg); padding: 0.3cm 0; background-size: 100% auto; background-color: #54a76a;">
        <div style="display: inline-block; float: left; padding: 0 25px;">
				<span
                        style="color: #fff; font-size: 30px; font-weight: 700; margin-top: 10px; display: inline-block; line-height: 100%;">mint</span>
            <img src="https://static.mintplatform.net/img/appicon.png"
                 style="float: right"/>
        </div>
        <div style="float: left; width: 100%"></div>
    </div>
    <div style="float: left; width: 100%; text-align: center">
        <div style="float: left; width: 100%; text-align: center">
            <h3
                    style="text-align: center; color: #51a868; font-size: 25px; font-weight: 700">
                مرحباً
                <span
                        style="color: #51a868; font-weight: 700; display: inline-block; white-space: nowrap; font-size: 25px; padding: 0px 3px;"
                        th:text="${user.name}">mint</span>
            </h3>
            <p th:if="withImage">
					<span class="profile_img">
						<img th:src="${image}" th:if="${image!=null}"/>
						<img
                                src="https://static.mintplatform.net/img/default/default_profile_pic.jpg"
                                th:if="${image ==null}"/>
					</span>
            </p>
            <p style="padding: 10px">
                <span class="user_name" th:text="${from}"> مثال: احمد علي </span>
                <span class="statc_content" th:text="${actionMessage}"> قد
						اضاف مساحةالي </span>
            <div>
					<span class="date_of_creation" th:text="${date}"> مثال:
						7/05/2017 </span>
            </div>
            </p>
            <p style="padding: 10px">
                مع خالص التحية، فريق
                <span
                        style="color: #51a868; font-weight: 700; display: inline-block; white-space: nowrap; font-size: 25px; padding: 0px 3px;">mint
						&trade;</span>
            </p>
            <div style="float: left; width: 100%; text-align: center">
                <a th:href="'https://'+${weburl}"
                   style="color: #fff; background-color: #51a868; border: 1px solid #ccc; display: inline-block; outline: 0; padding: 8px; vertical-align: middle; text-decoration: none; text-align: center; cursor: pointer; white-space: nowrap; text-align: center; min-width: 5cm; font-size: 18px; margin-bottom: 0.5cm;">إلى
                    <span
                            style="color: #fff; font-weight: 700; display: inline-block; white-space: nowrap; font-size: 25px; padding: 0px 3px;">mint
							&trade;</span>
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>