<link href='assets/css/video-js.min.css' rel='stylesheet'>
<script src='assets/js/video.min.js'></script>
<script src='assets/js/videojs-contrib-hls.min.js'></script>
<!--<script src='assets/js/videojs-brand.min.js'></script>-->
<script src='assets/js/videojs.hotkeys.min.js'></script>
<!--<script src='assets/js/videojs-watermark.min.js'></script>-->
<!--<link href='assets/css/videojs-watermark.css' rel='stylesheet'>-->

<!--[if lt IE 9]>
<script src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js'></script>
<script src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js'></script>
<![endif]-->

<video id='VIDEO_ID'
       class='video-js vjs-big-play-centered vjs-default-skin' controls
       poster='VIDEO_POSTER'>
    <source src='VIDEO_SRC' type='application/x-mpegURL'>
</video>
<script>
    var player = videojs('VIDEO_ID', {
        playbackRates: [.5, .75, 1, 1.25, 1.5, 2],
        fluid: true,
        plugins: {
            hotkeys: {
                volumeStep: 0.1,
                seekStep: 5,
                enableModifiersForNumbers: true,
                enableMute: true,
                enableVolumeScroll: true,
                enableFullscreen: true,
                enableNumbers: true,
                alwaysCaptureHotkeys: true
            }
//			brand : {
//				image : 'assets/imgs/logo.png',
//				title : 'Eshraq Group',
//				destination : 'http://www.eshraqgroup.com',
//				destinationTarget : '_top'
//			}
        }
    });

    //	player.watermark({
    //		image : 'assets/imgs/watermark.png',
    //		position : 'top-right',
    //		fadeTime : 100000,
    //		url : 'http://www.eshraqgroup.com',
    //	});
    //	player.watermark();
</script>